In [72]:
import pandas as pd 

#Get the data load in
#df for dataframe
df = pd.read_csv('pokemon_data.csv')



print(df.head(3))

   #       Name Type 1  Type 2  HP  Attack  Defense  Sp. Atk  Sp. Def  Speed  \
0  1  Bulbasaur  Grass  Poison  45      49       49       65       65     45
1  2    Ivysaur  Grass  Poison  60      62       63       80       80     60
2  3   Venusaur  Grass  Poison  80      82       83      100      100     80

   Generation  Legendary
0           1      False
1           1      False
2           1      False

In [73]:
#read Headers
df.columns

#Read each Column
# df['Name'][0:5]
#Multiple columns
# df[['Name','Type 1','HP']]

#Read each row
#Iloc = integer location
# df.iloc[1:4]

# for index, row in df.iterrows():#Going row by row
#     print(index,row['Name'])

#Use to find specific data in the db
df.loc[df['Type 1'] == "Grass"]
    
#Read a specific location (R,C)
# df.iloc[2,4]

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False
48,43,Oddish,Grass,Poison,45,50,55,75,65,30,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...
718,650,Chespin,Grass,NaN,56,61,65,48,45,38,6,False
719,651,Quilladin,Grass,NaN,61,78,95,56,58,57,6,False
720,652,Chesnaught,Grass,Fighting,88,107,122,74,75,64,6,False
740,672,Skiddo,Grass,NaN,66,65,48,62,57,52,6,False
741,673,Gogoat,Grass,NaN,123,100,62,97,81,68,6,False

In [74]:
#Sorting/Describing Data
#Gives the high level, mean,std deviation
#What'
# df.describe()

#sort values by alphabetical name
# df.sort_values('Name')
# df.sort_values('Name',ascending = False)
df.sort_values(['Type 1', 'HP'],ascending = [1,0])

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
520,469,Yanmega,Bug,Flying,86,76,86,116,56,95,4,False
698,637,Volcarona,Bug,Fire,85,60,65,135,105,100,5,False
231,214,Heracross,Bug,Fighting,80,125,75,40,95,85,2,False
232,214,HeracrossMega Heracross,Bug,Fighting,80,185,115,40,105,75,2,False
678,617,Accelgor,Bug,NaN,80,70,40,100,60,145,5,False
...,...,...,...,...,...,...,...,...,...,...,...,...
106,98,Krabby,Water,NaN,30,105,90,25,25,50,1,False
125,116,Horsea,Water,NaN,30,40,70,70,25,60,1,False
129,120,Staryu,Water,NaN,30,45,55,70,55,85,1,False
139,129,Magikarp,Water,NaN,20,10,55,15,20,80,1,False
381,349,Feebas,Water,NaN,20,15,20,10,55,80,3,False

In [85]:
#Making changes to the data
#It'd be amazing to add all these stats together and make a 
#a total category

# df['Total'] = df['HP'] + df['Attack'] + df['Defense'] + df['Sp. Atk']+ df['Sp. Def'] + df["Speed"]

#Doing the same, ":" means all the rows
#sum is a function, axis =1 means that the sum is horizontally
df['Total'] = df.iloc[:,4:10].sum(axis = 1)

#move the order of total
cols = list(df.columns.values)
df = df[cols[0:4] + [cols[-1]] +cols[4:12]]

df.head()

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False

In [65]:
45+49+49+65+65+45

318

In [97]:
#Saving our Data(Exporting into desired format)
# df.to_csv('modifiedPokemon.csv', index = False)

In [ ]:
#Filtering Data